<div class="card">
    <div class="card-header text-light" [ngClass]="{'bg-secondary': task.priority_level==='low',
        'bg-dark':task.priority_level==='medium',
        'bg-warning':task.priority_level==='high',
        'bg-danger':task.priority_level==='critical'
    }">
    <h4 class="card-title">{{ task.title }}</h4>
    </div>
    <div class="card-body bg-primary text-white">
        <p>{{task.description}}</p>
        <p>Due Date: {{ task.date | date }}</p>
        <p>Time: {{task.time | date: "mediumTime"}}</p>
        <p>{{task.priority_level}}</p>
    </div>
</div>
